USE [master]
GO
/****** Object:  Database [JAVA_QLBangDia]    Script Date: 7/3/2020 11:51:10 PM ******/
CREATE DATABASE [JAVA_QLBangDia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JAVA_QLBangDia', FILENAME = N'D:\data sql\JAVA_QLBangDia.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JAVA_QLBangDia_log', FILENAME = N'D:\data sql\JAVA_QLBangDia_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JAVA_QLBangDia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JAVA_QLBangDia]
GO
/****** Object:  Table [dbo].[tbAlbum]    Script Date: 7/3/2020 11:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbAlbum](
	[maAlbum] [varchar](20) NOT NULL,
	[tenAlbum] [nvarchar](500) NULL,
	[ngayRaMat] [date] NULL,
 CONSTRAINT [pk_album] PRIMARY KEY CLUSTERED 
(
	[maAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbBangDia]    Script Date: 7/3/2020 11:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbBangDia](
	[maBD] [varchar](20) NOT NULL,
	[tenBD] [nvarchar](400) NULL,
	[soLuong] [int] NULL,
	[donGia] [money] NULL,
	[noiDung] [nvarchar](500) NULL,
	[ngaySX] [date] NULL,
	[ngayHH] [date] NULL,
	[maTL] [varchar](20) NULL,
	[maNSX] [varchar](20) NULL,
	[maALbum] [varchar](20) NULL,
 CONSTRAINT [pk_tbBangDia] PRIMARY KEY CLUSTERED 
(
	[maBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbCT_HoaDon]    Script Date: 7/3/2020 11:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbCT_HoaDon](
	[maHD] [varchar](20) NOT NULL,
	[maBD] [varchar](20) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [pk_cthoadon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbHoaDon]    Script Date: 7/3/2020 11:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbHoaDon](
	[maHD] [varchar](20) NOT NULL,
	[tenHD] [nvarchar](300) NULL,
	[ngayLHD] [date] NULL,
	[maNV] [varchar](20) NULL,
	[maKH] [varchar](20) NULL,
 CONSTRAINT [pk_hoadon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbKhachHang]    Script Date: 7/3/2020 11:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbKhachHang](
	[maKH] [varchar](20) NOT NULL,
	[tenKH] [nvarchar](300) NULL,
	[soDT] [nvarchar](50) NULL,
	[diaChi] [nvarchar](500) NULL,
	[eMail] [nvarchar](300) NULL,
	[ngaySinh] [date] NULL,
 CONSTRAINT [pk_khachhang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbNhanVien]    Script Date: 7/3/2020 11:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbNhanVien](
	[taiKhoanID] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](300) NULL,
	[soDT] [nvarchar](50) NULL,
	[diaChi] [nvarchar](500) NULL,
	[matKhau] [nvarchar](50) NULL,
	[chucVu] [nvarchar](300) NULL,
	[eMail] [nvarchar](300) NULL,
 CONSTRAINT [pk_nhanvien] PRIMARY KEY CLUSTERED 
(
	[taiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbNhaSX]    Script Date: 7/3/2020 11:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbNhaSX](
	[maNSX] [varchar](20) NOT NULL,
	[tenNSX] [nvarchar](500) NULL,
	[diaChi] [nvarchar](500) NULL,
	[dienThoai] [nvarchar](50) NULL,
	[eMail] [nvarchar](300) NULL,
 CONSTRAINT [pk_nhasx] PRIMARY KEY CLUSTERED 
(
	[maNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbTheLoai]    Script Date: 7/3/2020 11:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbTheLoai](
	[maTheLoai] [varchar](20) NOT NULL,
	[tenTheLoai] [nvarchar](200) NULL,
 CONSTRAINT [pk_theloai] PRIMARY KEY CLUSTERED 
(
	[maTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbBangDia]  WITH CHECK ADD  CONSTRAINT [fk_bangdia_album] FOREIGN KEY([maALbum])
REFERENCES [dbo].[tbAlbum] ([maAlbum])
GO
ALTER TABLE [dbo].[tbBangDia] CHECK CONSTRAINT [fk_bangdia_album]
GO
ALTER TABLE [dbo].[tbBangDia]  WITH CHECK ADD  CONSTRAINT [fk_bangdia_nhasx] FOREIGN KEY([maNSX])
REFERENCES [dbo].[tbNhaSX] ([maNSX])
GO
ALTER TABLE [dbo].[tbBangDia] CHECK CONSTRAINT [fk_bangdia_nhasx]
GO
ALTER TABLE [dbo].[tbBangDia]  WITH CHECK ADD  CONSTRAINT [fk_bangdia_theloai] FOREIGN KEY([maTL])
REFERENCES [dbo].[tbTheLoai] ([maTheLoai])
GO
ALTER TABLE [dbo].[tbBangDia] CHECK CONSTRAINT [fk_bangdia_theloai]
GO
ALTER TABLE [dbo].[tbCT_HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_cthoadon_bangdia] FOREIGN KEY([maBD])
REFERENCES [dbo].[tbBangDia] ([maBD])
GO
ALTER TABLE [dbo].[tbCT_HoaDon] CHECK CONSTRAINT [fk_cthoadon_bangdia]
GO
ALTER TABLE [dbo].[tbCT_HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_cthoadon_hoadon] FOREIGN KEY([maHD])
REFERENCES [dbo].[tbHoaDon] ([maHD])
GO
ALTER TABLE [dbo].[tbCT_HoaDon] CHECK CONSTRAINT [fk_cthoadon_hoadon]
GO
ALTER TABLE [dbo].[tbHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_hoadon_khachhang] FOREIGN KEY([maKH])
REFERENCES [dbo].[tbKhachHang] ([maKH])
GO
ALTER TABLE [dbo].[tbHoaDon] CHECK CONSTRAINT [fk_hoadon_khachhang]
GO
ALTER TABLE [dbo].[tbHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_hoadon_nhanvien] FOREIGN KEY([maNV])
REFERENCES [dbo].[tbNhanVien] ([taiKhoanID])
GO
ALTER TABLE [dbo].[tbHoaDon] CHECK CONSTRAINT [fk_hoadon_nhanvien]
GO
USE [master]
GO
